@page "/"
@using Contoso.Monitoring.Grains;
@inject IGrainFactory _grainFactory;

<h1>Contoso Monitoring</h1>

<div class="card-columns">
    @foreach (var sensor in _sensors)
    {
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    <div id="chart-@sensor.SensorName">
                        <canvas id="canvas-@sensor.SensorName"></canvas>
                    </div>
                </p>
            </div>
        </div>
    }
</div>

@code
{
    private List<TemperatureSensor> _sensors = new List<TemperatureSensor>();

    protected override async Task OnInitializedAsync()
    {
        _sensors = await _grainFactory.GetGrain<ISensorRegistryGrain>(Guid.Empty).GetSensors();
        _sensors = _sensors.OrderBy(_ => _.SensorName).ToList();
    }
}