@page "/"
@inject IConfiguration _configuration;
@inject SiloService _siloService;
@inject NavigationManager _navigationManager;
@inject IJSRuntime JS

<h1>Monitored Areas</h1>

<div class="card-columns">
    @foreach (var area in _areas)
    {
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    <div id="chart-@area.Name">
                        <canvas id="canvas-@area.Name"></canvas>
                    </div>
                </p>
                <p class="card-text"><small class="text-muted">@area.Temperature.Fahrenheit.ToString("#.##") F / @area.Temperature.Celsius.ToString("#.##") C</small></p>
            </div>
        </div>
    }
</div>

@code
{
    private List<MonitoredArea> _areas = new List<MonitoredArea>();

    protected override async Task OnInitializedAsync()
    {
        _areas = await _siloService.GetMonitoredAreas();
        _areas = _areas.OrderBy(_ => _.Name).ToList();
    }
}