@page "/"
@inject IGrainFactory _grainFactory;

<h1>Contoso Monitoring</h1>

<div class="card-columns">
    @foreach (var area in _areas)
    {
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    <div id="chart-@area.Name">
                        <canvas id="canvas-@area.Name"></canvas>
                    </div>
                </p>
            </div>
        </div>
    }
</div>

@code
{
    private List<MonitoredArea> _areas = new List<MonitoredArea>();

    protected override async Task OnInitializedAsync()
    {
        _areas = await _grainFactory.GetGrain<IMonitoredBuildingGrain>(Guid.Empty).GetMonitoredAreas();
        _areas = _areas.OrderBy(_ => _.Name).ToList();
    }
}